<div id="wrapper">

  <%= render "shared/navbar" %>

  <div id="content" class="container">

    <div class="title">
      <h2>Add Cocktail</h2>
    </div>

    <div class="form">
      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name, error: "name can't be blank" %>
          <%= f.input :photo, as: :file %>
        <%= f.button :submit, class: "btn-black" %>
      <% end %>
    </div>
  </div>

  <%= render "shared/footer" %>
</div>

